
<h3>Estas a punto de terminar tu compra {{userData.first_name}}</h4>

<a href="/carts/{{cartId}}"><button>Volver al carrito</button></a>

<h4>Tu carrito contiene</h5>
  <p id="cartJSON">{{cartSend}}</p>
<div id="cartContainer" class={{_id}}>
	{{#each cartDocs}}
    <div id={{this.prodId}} class="productContainer" name="{{this.price}},{{this.quantity}}">
      <p>Producto: {{this.title}} - Code: {{this.code}} - Cat: {{this.category}} - Precio/unidad: {{this.price}} - Cantidad: {{this.quantity}} - Total: <p id="total"></p></p>
      <p id="prodQuant" title={{this.quantity}}>Quantity: {{this.quantity}}</p>
      <p id="prodPrice" title={{this.price}}>Price: ${{this.price}}</p>
    </div>

    {{/each}}

    

    </div>

    <h4 id="totalCart">Total: </h4>
   
    <button id="purchase">Comprar</button>
      <p>-----------------------------------------</p>

    <h3>Datos del usuario</h3>
    <p>Cliente: {{userData.last_name}}, {{userData.first_name}}</p>
    <p>Email: {{userData.email}}</p>
    <p>Nro de contacto: </p>

 <div id="container"></div>

    <script src='/js/cart-finish.js'></script>